/.env.db
/.env
/celerybeat-schedule.db
/app/celerybeat-schedule.db
/app/db.sqlite3
.idea
/app/celerybeat-schedule


# Frontend
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/app/frontend/node_modules/.cache/default-development/0.pack
/app/frontend/node_modules/.cache/default-development/index.pack
